.DS_Store

# Large files hosted externally
External_Large_Files/
PartGuard_Snapshot_Trees/PartGuard - Starting Fresh.pdf
NutriCompass_ChatSessions/ChatGPT/NutriCompass-ChatGPT-Session2.pdf
NutriCompass_ChatSessions/ChatGPT/NutriCompass-ChatGPT-Session4.pdf
